<h2>this is the index page for items</h2>

<p><%= link_to 'Add new item', new_item_path, id: 'new-link', remote: true %></p>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th>Price</th>
    <th>Date Added</th>
  </tr>

  <% @items.each do |item| %>
  <tr class='item'>
    <td><%= link_to "#{item.name}", item_path(item), id: "show" %></td>
    <td class='reveal'><button>Show Price</button>
    <td><span class='price'><%= item.price %></span></td>
    <td><%= item.created_at.strftime('%m/%d/%y') %></td>
    <td><%= link_to 'Edit', edit_item_path(item) %></td>
    <td><%= link_to 'Delete', item_path(item), method: :delete %></td>
  </tr>
  <tr>
    <% render 'show', :@item => item %>
  </tr>
  <%- end -%>
</table>
